<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>registreController</display-name>
    <servlet-name>registreController</servlet-name>
    <servlet-class>linkcode.controller.registreController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registreController</servlet-name>
    <url-pattern>/registreController</url-pattern>
  </servlet-mapping>
  <display-name>Recharge_app</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginController</display-name>
    <servlet-name>loginController</servlet-name>
    <servlet-class>linkcode.controller.loginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginController</servlet-name>
    <url-pattern>/loginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>planController</display-name>
    <servlet-name>planController</servlet-name>
    <servlet-class>linkcode.controller.planController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>planController</servlet-name>
    <url-pattern>/planController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>rechargeController</display-name>
    <servlet-name>rechargeController</servlet-name>
    <servlet-class>linkcode.controller.rechargeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rechargeController</servlet-name>
    <url-pattern>/rechargeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>planDisplay</display-name>
    <servlet-name>planDisplay</servlet-name>
    <servlet-class>linkcode.controller.planDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>planDisplay</servlet-name>
    <url-pattern>/planDisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displayrecharge</display-name>
    <servlet-name>displayrecharge</servlet-name>
    <servlet-class>linkcode.controller.displayrecharge</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayrecharge</servlet-name>
    <url-pattern>/displayrecharge</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatepassword</display-name>
    <servlet-name>updatepassword</servlet-name>
    <servlet-class>linkcode.controller.updatepassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatepassword</servlet-name>
    <url-pattern>/updatepassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutController</display-name>
    <servlet-name>logoutController</servlet-name>
    <servlet-class>linkcode.controller.logoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutController</servlet-name>
    <url-pattern>/logoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>trancation</display-name>
    <servlet-name>trancation</servlet-name>
    <servlet-class>linkcode.controller.trancation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>trancation</servlet-name>
    <url-pattern>/trancation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displayall</display-name>
    <servlet-name>displayall</servlet-name>
    <servlet-class>linkcode.controller.displayall</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayall</servlet-name>
    <url-pattern>/displayall</url-pattern>
  </servlet-mapping>
</web-app>